/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Calendas plus';
  src: url("../assets/fonts/calendas_plus_italic-webfont.eot");
  src: url("../assets/fonts/calendas_plus_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/calendas_plus_italic-webfont.woff") format("woff"), url("../assets/fonts/calendas_plus_italic-webfont.ttf") format("truetype"), url("../assets/fonts/calendas_plus_italic-webfont.svg##calendas_plusitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}
/* line 30, ../scss/inc/_base.scss */
.clear {
  position: relative;
  clear: both;
  overflow: hidden;
  display: block;
  float: none;
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}

/* line 39, ../scss/inc/_base.scss */
strong, b {
  font-weight: bold;
}

/* line 42, ../scss/inc/_base.scss */
em, i {
  font-style: italic;
}

/* line 45, ../scss/inc/_base.scss */
a {
  color: #877264;
  text-decoration: none;
  -webkit-transition: color 150ms ease-in-out, background 150ms ease-in-out, border 150ms ease-in-out;
  -moz-transition: color 150ms ease-in-out, background 150ms ease-in-out, border 150ms ease-in-out;
  transition: color 150ms ease-in-out, background 150ms ease-in-out, border 150ms ease-in-out;
}
/* line 52, ../scss/inc/_base.scss */
a:hover {
  color: #403d3d;
}

/* line 5, ../scss/style.scss */
body {
  font: normal 13px/20px "effra", "Helvetica", "Arial", sans-serif;
  color: #403d3d;
  -webkit-font-smoothing: antialiased;
}

/* line 11, ../scss/style.scss */
.page {
  background: #FFFFFF;
}

/* line 17, ../scss/style.scss */
#splash {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  min-width: 960px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
/* line 23, ../scss/style.scss */
#splash #loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
}
/* line 29, ../scss/style.scss */
#splash #loader .progress {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 3px;
  background: #E0CEC9;
  -webkit-transition: width 300ms ease-in-out;
  -moz-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
}
/* line 38, ../scss/style.scss */
#splash #loader p {
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  padding-top: 135px;
  margin-top: -75px;
  background: transparent url(../assets/img/splash/logo.png) no-repeat center top;
  font: 500 12px/15px "effra", "Helvetica", "Arial", sans-serif;
  color: #403d3d;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5px;
}
/* line 49, ../scss/style.scss */
#splash #scene-wrap {
  display: none;
}
/* line 53, ../scss/style.scss */
#splash #scene {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 59, ../scss/style.scss */
#splash .mask {
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent url(../assets/img/splash/mask.png) no-repeat center;
  z-index: 100;
  pointer-events: none;
}
/* line 66, ../scss/style.scss */
#splash .content {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 960px;
  height: 960px;
  margin-left: -480px;
  margin-top: -480px;
  overflow: hidden;
  z-index: 50;
}
/* line 73, ../scss/style.scss */
#splash .content .background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
/* line 78, ../scss/style.scss */
#splash .content .background img {
  width: 100%;
  height: auto;
}
/* line 83, ../scss/style.scss */
#splash .content .light {
  position: absolute;
  z-index: 60;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: transparent url(../assets/img/splash/light.png) no-repeat left top;
}
/* line 89, ../scss/style.scss */
#splash .content .clouds,
#splash .content .clouds-loop {
  position: absolute;
  left: 0;
  top: -50px;
  z-index: 50;
  width: 960px;
  height: 960px;
  -webkit-animation: flight 150s infinite linear;
  -moz-animation: flight 150s infinite linear;
  animation: flight 150s infinite linear;
}
/* line 98, ../scss/style.scss */
#splash .content .clouds-loop {
  left: -960px;
}
/* line 102, ../scss/style.scss */
#splash .content .cloud-1 {
  position: absolute;
  right: 80px;
  top: 300px;
  width: 469px;
  height: 254px;
  background: transparent url(../assets/img/splash/cloud-1.png) no-repeat left top;
  z-index: 50;
}
/* line 110, ../scss/style.scss */
#splash .content .cloud-2 {
  position: absolute;
  left: -40px;
  top: 160px;
  width: 557px;
  height: 299px;
  background: transparent url(../assets/img/splash/cloud-2.png) no-repeat left top;
  z-index: 30;
}
/* line 118, ../scss/style.scss */
#splash .content .cloud-3 {
  position: absolute;
  right: -90px;
  top: -60px;
  width: 685px;
  height: 390px;
  background: transparent url(../assets/img/splash/cloud-3.png) no-repeat left top;
  z-index: 20;
}
/* line 126, ../scss/style.scss */
#splash .content .logo {
  position: absolute;
  z-index: 40;
  left: 50%;
  top: 250px;
  width: 115px;
  height: 115px;
  margin-left: -57.5px;
  background: transparent url(../assets/img/splash/logo.png) no-repeat left top;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 136, ../scss/style.scss */
#splash .content .title {
  position: relative;
  margin-top: 430px;
  z-index: 70;
}
/* line 141, ../scss/style.scss */
#splash .content .title h1 {
  padding-bottom: 70px;
  margin-bottom: 50px;
  background: transparent url(../assets/img/splash/cross.png) no-repeat center bottom;
  font: 400 24px/24px "effra", "Helvetica", "Arial", sans-serif;
  color: #f6e5d9;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 9px;
}
/* line 148, ../scss/style.scss */
#splash .content .title .status {
  font: 700 11px/13px "effra", "Helvetica", "Arial", sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
}
/* line 153, ../scss/style.scss */
#splash .content .title .status a {
  position: relative;
  color: #f6e5d9;
}
/* line 158, ../scss/style.scss */
#splash .content .title .dogname {
  font: 700 12px/30px "Calendas plus", "Helvetica", serif;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 0.5px;
}
/* line 165, ../scss/style.scss */
#splash .content .socials {
  width: 188px;
  height: 28px;
  margin: 40px auto 0;
}
/* line 169, ../scss/style.scss */
#splash .content .socials li {
  float: left;
  margin-right: 10px;
}
/* line 172, ../scss/style.scss */
#splash .content .socials li a {
  display: block;
  width: 26px;
  height: 26px;
  border: 1px solid #FFF;
  background-repeat: repeat-y;
  text-indent: -99999px;
  background-image: url("../assets/img/socials.png");
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  /* line 172, ../scss/style.scss */
  #splash .content .socials li a {
    background-image: url("../assets/img/socials@2x.png");
    background-size: 104px 26px;
  }
}
/* line 185, ../scss/style.scss */
#splash .content .socials li.last {
  margin-right: 0;
}
/* line 189, ../scss/style.scss */
#splash .content .socials .fbk {
  background-position: left top;
}
/* line 193, ../scss/style.scss */
#splash .content .socials .fbk:hover {
  background-color: #3B5998;
  border-color: #3B5998;
}
/* line 198, ../scss/style.scss */
#splash .content .socials .twt {
  background-position: -26px top;
}
/* line 202, ../scss/style.scss */
#splash .content .socials .twt:hover {
  background-color: #00ACED;
  border-color: #00ACED;
}
/* line 207, ../scss/style.scss */
#splash .content .socials .drb {
  background-position: -52px top;
}
/* line 211, ../scss/style.scss */
#splash .content .socials .drb:hover {
  background-color: #EA4C89;
  border-color: #EA4C89;
}
/* line 216, ../scss/style.scss */
#splash .content .socials .ltr {
  background-position: -78px top;
}
/* line 220, ../scss/style.scss */
#splash .content .socials .ltr:hover {
  background-color: #877264;
  border-color: #877264;
}
/* line 225, ../scss/style.scss */
#splash .content .socials .lnk {
  background-position: -104px top;
}
/* line 229, ../scss/style.scss */
#splash .content .socials .lnk:hover {
  background-color: #0977B5;
  border-color: #0977B5;
}
/* line 237, ../scss/style.scss */
#splash #footer {
  position: absolute;
  z-index: 600;
  left: 50%;
  bottom: 30px;
  width: 960px;
  height: auto;
  margin-left: -480px;
}
/* line 243, ../scss/style.scss */
#splash #footer .copyright {
  margin-top: 30px;
  font-size: 12px;
  text-align: center;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
/* line 250, ../scss/style.scss */
#splash #footer .copyright strong {
  color: #be2505;
  font-weight: normal;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
@media only screen and (max-height: 768px) {
  /* line 243, ../scss/style.scss */
  #splash #footer .copyright {
    color: #FFFFFF;
  }
  /* line 260, ../scss/style.scss */
  #splash #footer .copyright strong {
    color: #FFFFFF;
  }
  /* line 264, ../scss/style.scss */
  .loading #splash #footer .copyright {
    color: #403d3d;
  }
  /* line 267, ../scss/style.scss */
  .loading #splash #footer .copyright strong {
    color: #be2505;
  }
}

@-webkit-keyframes flight {
  /* line 277, ../scss/style.scss */
  0% {
    -webkit-transform: translateX(0);
  }

  /* line 280, ../scss/style.scss */
  100% {
    -webkit-transform: translateX(100%);
  }
}
@-moz-keyframes flight {
  /* line 277, ../scss/style.scss */
  0% {
    -moz-transform: translateX(0);
  }

  /* line 280, ../scss/style.scss */
  100% {
    -moz-transform: translateX(100%);
  }
}
@-o-keyframes flight {
  /* line 277, ../scss/style.scss */
  0% {
    -o-transform: translateX(0);
  }

  /* line 280, ../scss/style.scss */
  100% {
    -o-transform: translateX(100%);
  }
}
@keyframes flight {
  /* line 277, ../scss/style.scss */
  0% {
    transform: translateX(0);
  }

  /* line 280, ../scss/style.scss */
  100% {
    transform: translateX(100%);
  }
}
